body{
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(sky.jpg);
    background-size: cover;
} 

.converter{
    height: 500px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgba(254, 254, 254, 0.4);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(24,95,127,255);
}

select,input{
    width: 100%;
    padding: 10px;
    margin: 11px 0;
    border: 3px solid #7fa5d3;
    border-radius: 5px;
    outline: none;
}

#temperature{
    display: flex;
    width: 375px;
}

button{
    background-color: 
    rgba(17,88,120,255);
    color: #fff;
    padding: 13px ;
    margin-bottom: 20px;
    align-items: center;
    border: none;
    width: 100px;
    display: flex;
    margin-left: 144px;
    cursor: pointer;
    border-radius: 30px;
    font-family: "Poppins";
    justify-content: space-around;
}

button:hover{
    background-color: rgba(114,163,183,255);
    color: rgb(6, 7, 8);
}

#result {
    display: flex;
    width: 375px;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid #918484;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    color: #1f1d1d;
}